@font-face {
    font-family: 'futuraBold';
    src: url(./assets/webfont/realFutura.otf);
}

body {
    font-family: 'futuraBold';
    background-color: rgb(10, 12, 27);
    color: rgb(168, 168, 168);
}

.navbar {
    background-color: rgb(0, 2, 16);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    /* margin-bottom: 35px; */
}

.navbar a {
    color: rgb(195, 195, 195);
}

.navbar ul li:hover {
    background-color: rgb(17, 20, 43);
    text-shadow: #6063ba 0 5px 5px;
}

.navbar ul li:hover a {
    color: white;
}

#myName {
    margin-right: 2em;
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}

#navbarNavDropdown ul li {
    margin-right: 0.8em;
}

#smallPic {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    border: 5px solid rgb(129, 128, 128);
    max-width: 80%;
}

#sectionOne {
    /* margin: 25px; */
    margin-top: 0px;
    background-color: rgb(0, 2, 16);
    border-radius: 0px 0px 10px 10px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    /* box-shadow: 5px 9px rgb(56, 56, 56); */

}

#heroImage {
    width: 50vw;
    height: auto;
    filter: brightness(55%) grayscale(30%);
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textDiv {
    align-items: center;
}

.imgDiv {
    display: flex;
    justify-content: center;
}

.textDiv span {
    font-size: 20px;
    transition: ease-in-out 0.5s;
}

.textDiv span:hover {
    text-shadow: #e6e6e4 0 5px 15px;
}

.textDiv h3 {
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}

#sectionTwo {
    margin: 25px;
    margin-top: 45px;
    background-color: rgb(0, 2, 16);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    /* box-shadow: 5px 9px rgb(56, 56, 56); */
}

#aboutPicture {
    width: 360px;
    height: auto;
    filter: brightness(65%) grayscale(20%);
    border-radius: 5%;
}

.textPart {
    align-items: center;
    text-align: center;
    margin-top: 25px;
    
}

.textPart p {
    transition: ease-in-out 0.5s;
}

.textPart p:hover {
    text-shadow: #eeeeec 0 5px 15px;
}

.aboutMeText h3 {
    color: white;
    font-size: 35px;
    text-shadow: #a960ba 0 5px 15px;
}

#sectionThree {
    margin: 25px;
    margin-top: 45px;
    background-color: rgb(0, 2, 16);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    /* box-shadow: 5px 9px rgb(56, 56, 56); */
}

#projectDescription {
    text-shadow: #eeeeecbb 0 5px 15px;
    margin-bottom: 10vh;
}

.item {
    margin-right: 25px;
    margin-left: 25px;
    
}

.item:hover {
    color: white;
}

.item a img {
    /* border: 5px solid rgb(168, 168, 168); */
    margin-bottom: 15px;
    filter: brightness(65%);
}

.item a {
    text-decoration: none;
}

.item a h4 {
    color: rgb(168, 168, 168);
    background-color: rgb(10, 12, 27);
}

.item:hover h4 {
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}

.item:hover h4 i {
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}

.item:hover a img {
    border: 3px solid #833558;
    filter: brightness(100%);
    /* box-shadow: rgb(84, 83, 83) 0 5px 15px; */
}

.item h4 {
    text-align: center;
}

#projectHeading {
    margin-bottom: 25px;
    margin-top: 15px;
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}

#sectionFour {
    margin: 25px;
    margin-top: 45px;
    background-color: rgb(0, 2, 16);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    /* box-shadow: 5px 9px rgb(56, 56, 56); */
}

.linkStyle a {
    color: rgb(168, 168, 168);
    margin-top: 55px;
    text-decoration: none;
}

.linkStyle a:hover {
    color: white;
}

#contactHeading {
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}

#git:hover {
    box-shadow: 0 5px 15px rgba(255, 138, 234, 0.4);
}

#linked:hover {
    box-shadow: 0 5px 15px rgba(112, 126, 236, 0.4);
}

#fiverr:hover {
    box-shadow: 0 5px 15px rgba(112, 225, 136, 0.4);
}

#emailText {
    margin-top: 75px;
    margin-bottom: 25px;
}

#emailText:hover {
    color: white;
    text-shadow: #a960ba 0 5px 15px;
}