@font-face {
    font-family: 'futuraBold';
    src: url(./assets/webfont/realFutura.otf);
}

body {
    font-family: 'futuraBold';
    background-color: rgb(10, 12, 27);
    color: white;
}

.navbar {
    background-color: rgb(0, 2, 16);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 35px;
}

.navbar a {
    color: rgb(195, 195, 195);
}

.navbar ul li:hover {
    background-color: rgb(17, 20, 43);
}

.navbar ul li:hover a {
    color: white;
}

#myName {
    margin-right: 2em;
    color: white;
}

#navbarNavDropdown ul li {
    margin-right: 0.8em;
}

#smallPic {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
    border: 5px solid rgb(56, 56, 56);
    max-width: 80%;
}

.sectionOne {
    margin: 25px;
    background-color: rgb(0, 2, 16);
    border-radius: 15px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 9px rgb(56, 56, 56);

}

#heroImage {
    width: 50vw;
    height: auto;
    filter: brightness(55%);
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textDiv {
    align-items: center;
}

.imgDiv {
    display: flex;
    justify-content: center;
}

.textDiv span {
    font-size: 20px;
    transition: ease-in-out 0.8s;
}

.textDiv span:hover {
    text-shadow: #bbbba7 0 5px 15px;
}

.textDiv h3 {
    color: rgb(128, 128, 128);
    transition: ease-in-out 0.8s;
}

.textDiv h3:hover {
    text-shadow: #603c67 0 5px 15px;
}

.sectionTwo {
    margin: 25px;
    margin-top: 45px;
    background-color: rgb(0, 2, 16);
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 9px rgb(56, 56, 56);
}

#aboutPicture {
    width: 360px;
    height: auto;
    filter: brightness(75%);
    border-radius: 5%;
}

.aboutMeText {
    text-align: center;
    margin-top: 25px;
}

.aboutMeText h3 {
    color: rgb(128, 128, 128);
    font-size: 35px;
}